

.target-hero{
    background-color: #01010d;
    color: white;
    .header-image {
        /* cambia estos dos valores para definir el tamaño de tu círculo */
        height: 100px;
        width: 100%;
        /* los siguientes valores son independientes del tamaño del círculo */
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 50%;
        background-size: 100% auto;
        background-size: cover;
    }
    
    .btn-close{
        display: flex;
        justify-content: flex-end;
        button{
            background-color: #c77e12;
            color: white;
        }
    }
    .header-profile{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        .item{
            align-self: center;
        }
        .item-img{
            width: 100px;
            align-self: center;
            img{
                border: 2px solid #c77e12;
                padding: 1px;
            }
        }
    }
    
    
    
    mat-list mat-list-item{
        color: white;
        height: 30px;
        background-color: #c77e12;
    }
}
