<div class="target-hero">
    <div class="header-profile">
        <h1 class="item" mat-dialog-title>{{data.name | uppercase}}</h1>
        <div class="item-img">
            <img mat-card-avatar class="header-image" attr.src="{{data.avatar}}">
        </div>
    </div>
    <div mat-dialog-content>
        <mat-list>
            <h3><b>Hero Credentials :</b></h3>
            <mat-list-item>{{data.category}} from {{data.city}}</mat-list-item>
            <mat-list-item>
                <p><b>Mision :</b> {{data.mision}}</p>
            </mat-list-item>
            <mat-list-item>
                <p><b>Battles Won :</b>{{data.battlesWon}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <h3><b>Skills :</b></h3>
            <mat-list-item *ngFor="let skill of data.skill; let i = index;"><b>{{i+1}}°</b> {{skill}} </mat-list-item>
        </mat-list>
    </div>
    <div class="btn-close" mat-dialog-actions>
        <button (click)="close_dialog()" mat-button>Close</button>
    </div>
</div>