.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.nav-class {
  background-color: grey;
  border: none;
}
.example-icon {
  cursor: pointer;
}

.nav-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  border: none;
  .text-color {
    color: white !important;
    text-align: center;
    font-weight: bold;
    font-size: 30px !important;
    letter-spacing: 6px;
    line-height: 6px;
  }
}
