<mat-toolbar class="nav-class">
  <mat-toolbar-row>
    <span>Simple Ripley Demo</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon" (click)="logOut()">exit_to_app
    </mat-icon>
  </mat-toolbar-row>
</mat-toolbar>