<div class="contenido">

    <form [formGroup]="form" class="form">
        <div class="control">
            <h1>
                Sign In
            </h1>
            <div *ngIf="loginInvalid">
                {{msg}}
            </div>
        </div>


        <div class='control block-cube block-input'>
            <input placeholder="Email" formControlName="username" (keyup)="msgEmail()" required />
            <div class='bg-top'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg-right'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg'>
                <div class='bg-inner'></div>
            </div>

        </div>

        <div class='control block-cube block-input'>
            <input type="password" placeholder="Password" formControlName="password" (keyup)="msgPass()" required />
            <div class='bg-top'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg-right'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg'>
                <div class='bg-inner'></div>
            </div>
        </div>

        <mat-grid-list cols="2" rows="1">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="btnContent" (click)="onLogIn()">
                    <button mat-raised-button class='btn block-cube block-cube-hover' type='button'>
                        <div class='bg-top'>
                            <div class='bg-inner'></div>
                        </div>
                        <div class='bg-right'>
                            <div class='bg-inner'></div>
                        </div>
                        <div class='bg'>
                            <div class='bg-inner'></div>
                        </div>
                        <div class='text'>
                            Log In
                        </div>
                    </button>
                </div>
            </mat-grid-tile>



            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="btnContent" (click)="onSignIn()">
                    <button mat-raised-button class='btn block-cube block-cube-hover' type='button'>
                        <div class='bg-top'>
                            <div class='bg-inner'></div>
                        </div>
                        <div class='bg-right'>
                            <div class='bg-inner'></div>
                        </div>
                        <div class='bg'>
                            <div class='bg-inner'></div>
                        </div>
                        <div class='text'>
                            Sign In
                        </div>
                    </button>
                </div>
            </mat-grid-tile>

        </mat-grid-list>
        <div *ngIf="msgError !== ''">
            <strong>{{msgError}}</strong>
        </div>






    </form>
</div>