.home-content-primary {
    display: flex;
    width: 60%;
    margin-left: 20%;
    margin-top: .5%;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 2%;
    .home-content-item {
        width: 100%;
        align-self: flex-start;
        .icon-hero-villain {
            color: gray !important;
        }
        .header-image {
            height: 100px;
            width: 100px;
            background-repeat: no-repeat;
            background-position: 50%;
            border-radius: 50%;
            background-size: 100% auto;
            background-size: cover;
        }
    }
}

.text-color {
    color: white !important;
}

.text-color-fab {
    color: white !important;
}

.btn-floating {
    width: 100px;
    height: 100px;
    position: fixed;
    right: 10px;
    bottom: -10px;
    z-index: 800;
    .shadow-btn-floating{
        -webkit-box-shadow: 2px 0px 35px 5px rgba(190,0,13,1);
        -moz-box-shadow: 2px 0px 35px 5px rgba(190,0,13,1);
        box-shadow: 2px 0px 35px 5px rgba(190,0,13,1);
    }
}

@media only screen and (max-width: 768px) {
    .home-content-primary {
        width: 70%;
        margin-left: 15%;
    }
    .btn-floating {
        right: -40px;
    }
}
